body {
  background: url('https://i.imgur.com/mA1U7ns.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 2em;
  display: block;
}

button {
  margin: 2em;
}

label {
  font-size: 2em;
  color: white;
}

.main-div {
  margin: 4em;
  padding: 10px;
  background: rgba(122, 130, 136, 0.40);
  width: 100em;
  margin-left: auto;
  margin-right: auto;
}

#films {
  background-color: #CCD1D1;
}

#cat-form {
  text-align: center;
}

#cat-content {
  display: none;
}
