body {
  background: url('https://wallpapertag.com/wallpaper/full/a/b/8/419851-studio-ghibli-wallpapers-1920x1080-desktop.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

img {
  width: 50%;
  margin-bottom: 2em;
}

button {
  margin: 2em;
}

label {
  font-size: 2em;
  color: white;
}

.main-div {
  margin: 4em;

  padding: 10px;
}

#films {
  background-color: #CCD1D1;
}

#cat-form {
  text-align: center;
}

#cat-content {
  display: none;
}
